# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 590abf12fe530a5d00507969cd5bda61148b318894371bdaf39cf10a870ae4d82efa5d342cd033d7dc0d83c333ec2738a290b81335c8152520481e3d8d7eca6f

test:
  secret_key_base: a73293e8701a439d557b519cd35461c6e603596d1227efd22283f97d177388e855d9df939b3cbd46986092c765b7f228f64af82018fa931c9e3d5c85b82b204d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
