/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'normalize';
 @import "font-awesome";

 $white: #FFFFFF;
 $dark: #424652;
 $grey: #EFEFF0;
 * {
   box-sizing: border-box;
 }
 body {
   font-family: 'Raleway', sans-serif;
   background: $grey;
 }

 .container {
   width: 60%;
   max-width: 1140px;
   margin: 0 auto;
 }

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}
#notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(18, 168, 101, 0.75);
    .alert, .notice {
        padding: 2.5rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.25rem;
        font-weight: 700;
        color: $white;
        letter-spacing: 1px;
    }
    .alert_close {
      float: right;
      padding-right: 4rem;
      font-size: 1.35rem;
      color: $white;
      text-decoration: none;
    }
}

.main_header {
   width: 100%;
   margin: 0 auto;
   background: $white;
   #brand {
     float: left;
     padding: 0.75rem 0.75rem;
     a {
       text-transform: capitalize;
       font-weight: 700;
       font-size: 1.6rem;
       text-decoration: none;
       color: $dark;
     }
   }
   #nav {
     float: right;
     a {
       line-height: 60px;
       padding: .5em 0.75em;
       border-radius: 0.2em;
       background: #397CAC;
       color: $white;
       text-decoration: none;
       font-weight: 400;
     }
   }
}

#forum_thread_index {
  padding: 2em 5%;
  border-radius: 0.5em;
  border: 1px solid $dark;
  .thread {
    background: $grey;
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid $dark;
    .title {
      margin: 0;
      a {
        color: #397CAC;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.25rem;
      }
    }
    .date {
      margin-top: 0.25rem;
      font-size: 0.9rem;
      color: #B2BAC2;
    }
  }
}
